<!DOCTYPE html>
<html lang="en">

<head>
    <% include partial_dashboard/_htmlHead.ejs %>
</head>

<body>

<input type="hidden" id="room_id" value="<%= room_id %>">

<div id="webchat-container" class="row">

    <h3><i class="fa fa-comments-o"></i> Chat</h3>

    <div id="webchat-messages"></div>

    <div id="webchat-input">

        <div>
            <input type="text" placeholder="Type a message..." id="message-input-msg" />
            <a href="#" id="message-input-confirm"></a>
        </div>

    </div>

</div>

<div id="wrapper">

    <% include partial_dashboard/_header.ejs %>

    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header" id="room_name">

                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-12">

                    <div id="localVideoContainer">
                        <h6>You</h6>
                        <video id="localVideo"></video>
                    </div>

                    <div id="remotesVideos">
                        <h6>Remotes</h6>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>

</div>

<% include partial_dashboard/_beforeBodyEnd.ejs %>

<script>
    var Room = new Room();
    $(document).ready(function() {
        Room.init("<%= sockrage.addr %>", "<%= sockrage.db.room %>");
        initSockrageWebchat("<%= sockrage.addr %>", "<%= sockrage.db.chat %>");
    });
</script>

</body>

</html>
